body {
  background-color: #fdf3e7;
  color: #3b3738;
}

.gridStyle {
  border: 1px solid #d4d4d4;
  height: 300px;
}

.btn {
  margin-top: 1em;
}

.ngHeaderText {
  font-size: 1.25em;
}

.head {
  height: 200px;
  background-color: #c63d0f;
  color: #fdf3e7;
  margin-bottom: 2em;
}
.head h1 {
  padding-top: 2em;
}

.footer {
  background-color: white;
  height: 200px;
  margin-top: 4em;
}

.git, .git:hover {
  color: #3b3738;
  font-size: 2em;
}
.git i, .git:hover i {
  padding-top: 2em;
}
