body
    color: #3B3738

.gridStyle 
    border: 1px solid rgb(212,212,212)
    height: 300px

.btn 
    margin-top: 1em

.ngHeaderText
    font-size: 1.25em

.head
    margin-bottom: 2em
    border-bottom: .5em solid #3B3738
    h1
        padding-top: 1em
        padding-bottom: 1em

.footer
    height: 200px
    margin-top: 4em

.git, .git:hover
    font-size: 2em
    i
        padding-top: 2em

.ng-invalid
    border-color: red !important